<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>


<%= image_tag("pay2go.jpg") %>

<%= link_to 'New Order', new_order_path %>

<div class="col-md-12">
  <div class="col-md-6">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Price</th>
        <th>Pay</th>
      </tr>
    </thead>

  <tbody>
    <% @orders.each do |order| %>
    
      <tr>
        <td><%= order.id %></td>
        <td><%= order.total %></td>
    
        <td><%= link_to 'Pay', order %></td>
      </tr>
    <% end %>

  </tbody>
</table>
  </div>
</div>


<br>

